@import url(fonts.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
ul,li{
    list-style-type: none;
}
.container{
    width: 85%;
    margin: auto;
}
.call-us{
    background-color: rgb(16,155,197);
}
.line-1{
    font-size: 12px;
    font-family:Open Sans ;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}
.line-1-1{
    color: #fff;
    z-index: 4;
}
.line-1-2{
    z-index: 4;
}
.line-1-2>ul{
    display: flex;
    height: 100%;
}
.line-1-2>ul>li>a{
    color: #fff;
    text-decoration: none;
    padding:0 10px;
}
.line-1-2 a:hover{
    cursor: pointer;
    opacity: 0.7;
    text-decoration:underline ;
}
.header{
    width: 100%;
    height: 70px;
    background-color: #fff;
}
.header-container{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.header-container>.nav-menu{
    position: relative;
    display: flex;
    align-items: center;
}
.header-container>.nav-menu>ul{
    display: flex;
    height: 100%;
}
.toggle{
    font-size: 30px;
    cursor: pointer;
    display: none;
    z-index: 5;
}
.toggle>i{
    padding: 0 8px;
    color: rgb(158,158,158);
}
.header-container>.nav-menu>ul>li{
    display: flex;
    font-family: Open Sans;
}
.header-container>.nav-menu>ul>li>a{
    color: rgb(158,158,158);
    display: flex;
    align-items: center;
    padding: 0 15px;
    text-decoration: none;
    z-index: 4;
    font-size: 14px;
    transition: 200ms;
}
.logo{
    display: flex;
    align-items: center;
    z-index: 4;
    cursor: pointer;
}
.logo>img{
    width: 200px;
    height: 60px;
}
.nav-menu>ul>li>a:hover{
    color: #151414;
}
.mega-menu{
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 6;
    display: none;
}
.nav-menu>ul>li:hover>ul{
    display: block;
}
.mega-menu>li{
    min-width: 200px;
    background-color: #f8f8f8;
    display: flex;
}
.mega-menu>li>a{
    text-decoration: none;
    color:#706f6f;
    font-size: 12px;
    padding:10px 20px;
    width: 100%;
    transition: 500ms;
}
.mega-menu>li>a:hover{
    background-color: #efefef;
    color: #131111;
}
.main{
    width: 100%;
    min-height: 1000px;
    display: flex;
}
.main>.map{
    width: 50%;
}
.main>.map>div{
    width: 100%;
    height: 100%;
}
.main>.text{
    width: 50%;
}
.main>.text>.title{
    width: 90%;
    margin: auto;
}
.main>.text>.title>h1{
    font-family: Quicksand;
    font-size: 34px;
    color: #222;
    line-height: 34.7px;
    padding-bottom: 20px;
    padding-top: 90px;
    text-align: center;
}
.main>.text>.title>p{
    font-family: Open Sans;
    font-size: 15px;
    color: #666;
    line-height: 24.8px;
}
.main>.text>.main-contact{
    width: 90%;
    margin: auto;
}
.main>.text>.main-contact>h1{
    font-family: Quicksand;
    font-size: 20px;
    color: #222;
    line-height: 22px;
    padding-top: 50px;
    padding-bottom: 15px;
}
.main>.text>.main-contact>div{
    display: flex;
    color: #666;
    line-height: 21.8px;
}
.main>.text>.main-contact p{
    font-family: Open Sans;
    font-size: 15px;
}
.main>.text>.main-contact i{
 font-size: 11px;
    padding: 5px 10px;
}
.main>.text>.inputs{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-top: 40px;
}
.main>.text>.inputs>input{
    padding: 10px ;
    margin: 10px 0;
    background-color: #f8f8f8;
    font-size: 15px;
   border: 1px solid silver;
}
.main>.text>.inputs>input:last-child{
    padding-top: 10px ;
    padding-bottom: 150px;
}
input::placeholder{
    color: #a3abb2;
}
input:focus{
    outline: none;
}
.main>.text>.inputs>button{
    padding: 20px 10px;
    background-color: #109bc5;
    color: #fff;
    margin-top: 20px;
    border: 1px solid #109bc5;
    width: 30%;
}
.box-container{
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.box-container>.box{
    width: 33.33334%;
    min-height: 230px;
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}
.box-1{
    background-color: rgb(0,133,174);
}
.box-2{
    background-color: rgb(0,147,192);
}
.box-3{
    background-color: rgb(0,159,208);
}
.box-4{
    background-color: rgb(1,165,216);
}
.box-5{
    background-color: rgb(10,177,228);
}
.box-6{
    background-color: rgb(18,185,236);
}
.box-container>.box>h1{
    font-family: Quicksand;
    font-size: 20px;
    line-height: 22px;
    padding-bottom: 15px;
}
.box-container>.box>div{
    display: flex;
    line-height: 21.8px;
}
.box-container>.box>div p{
    font-family: Open Sans;
    font-size: 15px;
}
.box-container>.box>div i{
    font-size: 11px;
    padding: 5px 10px;
}
.a-holder{
    width: 100%;
    height: 50px;
    background-color: #17809b;
    display: flex;
    font-size: 11px;
    font-family: 'Open Sans';
    cursor: pointer;
}
.a-holder>.container{
    display: flex;
    justify-content: space-between;
}
.a-holder>.container>.a-box>a{
    padding: 0 5px;
}
.a-holder>.container>a,.a-holder>.container>.a-box>a{
    color: #fff;
    text-decoration: none;
}
.a-holder>.container>a:hover,.a-holder>.container>.a-box>a:hover{
    opacity: 0.7;
    text-decoration: underline;
}







@media (max-width: 768px){
    .line-1{
        flex-direction: column-reverse;
        align-items: center;
    }
    .line-1-1{
        margin: 8px 0;
    }
    .main{
        display: flex;
        flex-direction: column;
    }
    .main>.map{
        width: 100%;
    }
    .main>.text{
        width: 100%;
    }
    .box-container{
        display: flex;
        flex-direction: column;
    }
    .box-container>.box{
        width: 100%;
    }
    .a-holder>.container{
        flex-direction: column;
    }
    .a-holder>.container>a{
        padding: 5px 0;
    }
}
@media (max-width:990px ) {
    .header-container>.nav-menu>ul{
        display: none;
    }
    .toggle{
        display: block;
    }
    .logo>img{
        width: 250px;
        height: 80px;
    }
}
